/*nav*/
html, body{
    height: 100%;
  }
  
  body{
    background-image: url(/static/Pics/dark-abstract-gaming-color-5k-wallpaper-11625792127spo6ievzi6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
  :root {
    --color-black: hsl(0, 0%, 10%);
    --color-darks: hsl(0, 0%, 25%);
    --color-greys: hsl(0, 0%, 60%);
    --color-light: hsl(0, 0%, 95%);
   
    --color-blue-100: hsl(217, 91%, 60%);
    --color-blue-200: hsl(221, 83%, 53%);
    --color-blue-300: hsl(224, 76%, 48%);
   
  }
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
  }
  
  body {
    font-family: "Rubik", ui-sans-serif, system-ui, -apple-system, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: -webkit-fill-available;
    color: var(--color-white);
  
  }
  
  main {
    overflow: hidden;
  }
  
  a,
  button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: unset;
    text-decoration: none;
  }
  
  img,
  video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
  
  .section {
    margin: 0 auto;
    padding: 6rem 0 1rem;
  }
  
  .container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
  }
  
  .brand {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -1px;
    /* text-transform: uppercase; */
    color: #095cb8;
  }
  
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    margin: 0 auto;
    background-color: var(--color-white);
    box-shadow: var(--shadow-medium);
  }
  
  .navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    background-color: var(--color-white);
  
    transition: all 0.5s ease-in-out;
  }
  .menu.is-active {
    top: 0;
    left: 0;
  }
  .menu-inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin: 1.25rem;
  }
  .menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-white);
    transition: all 0.3s ease;
  }
  .menu-link:hover {
    color: var(--color-blue-200);
  }
  @media only screen and (min-width: 48rem) {
    .menu {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      margin-left: auto;
      background: none;
      box-shadow: none;
    }
    .menu-inner {
      display: flex;
      flex-direction: row;
      column-gap: 1.75rem;
      margin: 0 auto;
      margin-right: 5rem;
    }
    .menu-link {
      text-transform: capitalize;
    }
    .menu-block {
      margin-left: 2rem;
    }
  }
  
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
    order: -1;
    width: 1.75rem;
    height: auto;
    border: none;
    outline: none;
    visibility: visible;
  }
  .burger-line {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 2px;
    margin: 6px auto;
    transform: rotate(0deg);
    background-color: var(--color-black);
    transition: all 0.3s ease-in-out;
  }
  @media only screen and (min-width: 48rem) {
    .burger {
      display: none;
      visibility: hidden;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
  }
  .overlay.is-active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  
  
/*form*/
/*Sign In Form CSS*/
body{
  width: 100vw;
  height: 100vh;
  font-family: 'poppins';
  font-size: 1rem;
  overflow: hidden;
  background: url("/static/Pics/dark-abstract-gaming-color-5k-wallpaper-11625792127spo6ievzi6.jpg") no-repeat center center/cover; 
}




.container{
  display: flex;
  height: 100vh;
}
.form{
  width: 350px;
  height: 450px;
  background-color: rgba(41, 39, 39, 0.3);
  box-shadow: 0 5px 30px black;
}
.btn button {
  padding: 3px;
  margin: 30px 0px 40px 30px;
  border-style: none;
  background-color: transparent;
  color: beige;
  font-size: 18px;
  font-weight: 550;
}
.formGroup{
  display: flex;
  justify-content: center;
}
.formGroup input{
  border: none;
  width: 80%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}
input:focus {
  outline: none !important;
  border-bottom: 2px solid rgb(91, 243, 131);
  font-size: 17px;
  font-weight: bold;
  color: white;
}
::placeholder {
  color: white;
}
.checkBox{
  display: flex;
  justify-content: center;
  margin: 16px!important;
}
 
#checkbox{
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
.text{
  color: rgb(199, 197, 197);
  font-size: 13px;
}
.btn2{
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(10, 136, 43);
  border-style: none;
  color: white;
  font-weight: 600;
}
.btn2:hover{
  background-color: rgba(10, 136, 43, 0.5);
}
.btn button:hover{
  border-bottom: 2px solid rgb(91, 243, 131);
}
 
/* hide signup form */
.login{
  display: none;
}
 
/* Login form code */
.login{
  margin-top: 40px;
}
.login .checkBox{
  margin-top: 30px !important;
}





